<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Internships/Automation/SeleniumWithPOM/src/test/java/tests/loginTests">

    <classes>
        <class name="tests.loginTests.LoginTest">
            <methods><include name="testLogin"/>
            </methods>
        </class>
<!--        <class name="tests.loginTests.LoginwithInvalidCardinalitiesTest">-->
<!--            <methods>-->
<!--                <include name="testLoginWithInvalidCard"/>-->
<!--            </methods>-->
<!--        </class>-->
    </classes>
</test>
</suite>